.iconContainer img{
    width:200px;
    height: 200px;
    object-fit: fill;
    border-radius: 50%;
}

.iconContainer{
    display: flex;
    justify-content: center;
    position: relative;
}

.image2{
    position: absolute;
    z-index: 3;
}

.image1{
   filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
}

.image3{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
}

main{
    background-color: #0E0601;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main h2{
    margin:0;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
    align-items: center;
    display: flex;
    font-size: 2rem;
}

body{
    color:rgb(168, 143, 2);
    background-color: black;
    padding-bottom: 3rem;
}

.breaker{
    height: 2px;
    width: 70%;
    background-color: rgb(168, 143, 2) ;
}

section{
    margin-bottom: 4rem;
}

main h3{
    font-family:'Big Shoulders Stencil Display', cursive ;
    font-size: 1.2rem;
    text-align: center;
}

.skillItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.skillSet{
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
    width: 50vmin;
    padding: 1rem;
    background-color: #000000ad;
}

.svg{
    height: 2rem;

}