

.iconContainer{
    display: flex;
    justify-content: center;
    position: relative;
}

.image2{
   
    height: 200px;
    width: 200px;
    background-image: url(../Project-image.png);
    overflow: hidden;
    border-radius: 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200px 200px;
    border: 1px solid #7B2BA9;
    line-height: 8px;
    background-repeat: no-repeat;
}
.image1Container{
    position: absolute;
    z-index: 3;
    background-color: rgb(19,19,19);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid#7B2BA9;
}

.image1{
    background-image: url(../Project-image.png);
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    line-height: 8px;
    word-spacing: 0.1px;
    padding: 0;

}

.image3{
    height: 200px;
    width: 200px;
    background-image: url(../Project-image.png);
    overflow: hidden;
    border-radius: 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200px 200px;
    border: 1px solid #7B2BA9;
    line-height: 8px;
    background-repeat: no-repeat;
}

main{
    background-color: rgb(19,19,19);
    margin-left: auto;
    margin-right: auto;
}

main h2{
    margin:3rem;
    margin-top: 2rem;
    margin-left: 3rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
    align-items: center;
    display: flex;
    font-size: 2rem;
    width: 70%;
}



body{
    color:rgb(225,215,205);
    background-color: rgb(19,19,19);
    padding-bottom: 3rem;
}

.breaker{
    height: 2px;
    width: 70%;
    background-color: #7B2BA9;
}

section{
    margin-bottom: 4rem;
}

main h3{
    font-family:'Big Shoulders Stencil Display', cursive ;
    font-size: 1.2rem;
    text-align: center;
}

.skillItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.skillSet{
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
    width: 50vmin;
    padding: 1rem;
}

.svg{
    height: 2rem;
    fill: #7B2BA9 !important;

}

#about p{
    text-align: center;
}